/* Estilos dos links de contato e redes sociais */

.social {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.social-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.social-item img {
  width: 1.5em;
  height: 1.5em;
}