/* Estilos dos itens presentes nos cards da página "Formação" */

.info-list {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.info-item {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}