@import url(fonts.css);

* {
  padding: 0;
  margin: 0;
  font-family: Ubuntu;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --color-primary-main: #0277BD;
  --color-primary-contrast: #FFFFFF;
  --color-primary-hover: #0288D1;
  --color-primary-active: #03A9F4;
  --color-borders: #CCCCCC;
}

body {
  background-color: #EEEEEE;
}

header {
  background-color: var(--color-primary-main);
  color: var(--color-primary-contrast);
  position: sticky;
  top: 0;
}

header .container {
  display: flex;
  align-items: center;
  padding: 1em;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

header nav li {
  border-radius: 4px;
}

header nav a {
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
  color: var(--color-primary-contrast);
}

header nav li:hover {
  background-color: var(--color-primary-hover);
}

header nav li:has(a[href="#"]) {
  background-color: var(--color-primary-active);
}

header nav a:has(a[href="#"]) {
  cursor: default;
}

.container {
  max-width: 80em;
  margin: 0 auto;
  padding: 2em 1em;
}

p, h1 {
  margin-bottom: 1em;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-borders);
}

h1 {
  font-weight: normal;
}

button {
  background-color: var(--color-primary-hover);
  color: var(--color-primary-contrast);
  font-size: 1em;
  padding: 1em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: fit-content;
}

button:disabled {
  background-color: var(--color-borders);
  cursor: not-allowed;
}

.card {
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--color-borders);
}