@import url(fonts.css);

* {
  padding: 0;
  margin: 0;
  font-family: Ubuntu;
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

:root {
  --color-primary-main: #0277BD;
  --color-primary-contrast: #FFFFFF;
  --color-primary-hover: #0288D1;
  --color-primary-active: #03A9F4;
  --color-borders: #CCCCCC;
}

body {
  background-color: #EEEEEE;
}

header {
  background-color: var(--color-primary-main);
  color: var(--color-primary-contrast);
  position: sticky;
  top: 0;
}

header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}

header nav li {
  border-radius: 4px;
}

header nav a {
  text-decoration: none;
  padding: 0.5em;
  display: inline-block;
  color: var(--color-primary-contrast);
}

header nav li:hover {
  background-color: var(--color-primary-hover);
}

header nav li:has(a[href="#"]) {
  background-color: var(--color-primary-active);
}

header nav a[href="#"] {
  cursor: default;
}

.container {
  max-width: 80em;
  margin: 0 auto;
  padding: 2em 1em;
}

.container.column {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.container.row {
  display: flex;
  gap: 2em;
}

.container.row .card {
  flex: 1;
}

p,
h1 {
  margin-bottom: 1em;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-borders);
}

h1 {
  font-weight: normal;
}

button {
  background-color: var(--color-primary-hover);
  color: var(--color-primary-contrast);
  font-size: 1em;
  padding: 1em;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  width: fit-content;
}

button:disabled {
  background-color: var(--color-borders);
  cursor: not-allowed;
}

.card {
  background-color: white;
  border-radius: 8px;
  border: 1px solid var(--color-borders);
  padding: 2em;
  overflow: hidden;
}

.card-image {
  object-fit: cover;
  object-position: center;
  width: 400px;
  min-height: 100%;
}

.card:has(.card-content) {
  padding: 0;
  display: flex;
}

.card-content {
  padding: 2em;
  flex: 1;
}

.card-content p {
  line-height: 1.5em;
}

#menu-toggle {
  width: 2em;
  height: 2em;
  background-image: url(../img/icons/menu.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
  display: none;
}

.menu-info {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.logo {
  display: flex;
  gap: 1em;
  align-items: center;
}

.logo span {
  font-size: 1.2em;
  font-weight: lighter;
}

.avatar {
  width: 2.5em;
  height: 2.5em;
  background-image: url(../img/avatar.jpg);
  background-size: cover;
  border-radius: 50%;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.field label {
  font-size: small;
}

.field input, .field textarea {
  padding: 1em;
  border: 1px solid var(--color-borders);
  border-radius: 4px;
}

.field input:focus, .field textarea:focus {
  outline: 1px solid var(--color-primary-main)
}

.field textarea {
  resize: none;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

@media screen and (width < 1000px) {
  #menu-toggle {
    display: block;
  }

  header .container {
    flex-direction: column;
    align-items: flex-start;
    gap: 1em;
  }

  header nav {
    display: none;
    width: 100%;
    position: fixed;
    background-color: var(--color-primary-main);
    top: 4.5em;
    left: 0;
    padding: 0 0.5em 0.5em 0.5em;
  }

  header nav ul {
    flex-direction: column;
  }

  .card {
    padding: 1em;
  }

  .container {
    padding: 1em;
  }

  .card-image {
    width: 100%;
    height: 300px;
  }

  .card:has(.card-content) {
    flex-direction: column;
  }

  .card-content {
    padding: 1em;
  }

  .container.column {
    gap: 1em;
  }

  .container.row {
    gap: 1em;
    flex-direction: column;
  }
}